[buildout]
# download-cache = ${buildout:directory}/download-cache
# eggs-directory = ${buildout:directory}/eggs
unzip = true
#index = http://services02.fe.rzob.gocept.net/pypi/

extensions = mr.developer
extends =
    http://dist.plone.org/release/4.0.5/versions.cfg
    http://good-py.appspot.com/release/zope/2.12.17
    picked-versions.cfg
    versions.cfg

find-links =
    ${buildout:directory}/3rdparty
    http://dist.plone.org
    http://dist.plone.org/release
    http://dist.plone.org/packages/
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads
    http://products.syslab.com/products/simple
    http://dist.repoze.org/
    http://syslab:v97Um1k2@sdist.zopyx.com
    http://www.crummy.com/software/BeautifulSoup/download/3.x/
    http://download.gocept.com/packages
    http://dist.enfoldsystems.com/catalog/simple

sources = sources

[sources]
collective.indexing = svn https://svn.plone.org/svn/collective/collective.indexing/trunk/

[checkouts]
recipe = iw.recipe.subversion
urls =
    https://svn.syslab.com/svn/EASHW/DeadlockDebugger/ DeadlockDebugger
    http://svn.plone.org/svn/collective/MemcachedPageCacheManager/trunk/ MemcachedPageCacheManager
    https://svn.syslab.com/svn/syslabcom/BlueLinguaLink/branches/slc_plone3 BlueLinguaLink

[instance]
recipe = plone.recipe.zope2instance
# Only used for inituser while we already have a database in place.
user = admin:admin
debug-mode = off
verbose-security = off
zserver-threads = 2
eggs =
    collective.solr
    psycopg2
    python-ldap
    PIL
    Plone
    Products.ATCountryWidget
    Products.AddRemoveWidget
# Problems with Plone 4 compat
#   Products.Calendaring 
    Products.DataGridField
    Products.FCKeditor
    Products.LinguaPlone
    Products.MemcachedManager
    Products.PloneHelpCenter
    Products.PloneLDAP
    Products.QueueCatalog
    Products.RemoteProvider
    Products.RichDocument
    Products.RiskAssessmentLink
    Products.TextIndexNG3
    Products.VocabularyPickerWidget
    SQLAlchemy
    archetypes.schemaextender
    archetypes.schematuning
    borg.project
    collective.captcha
    collective.contentlicensing
    collective.portlet.feedmixer
    elementtree
    elementtreewriter
    gfb.policy
    hachoir_core
    hachoir_metadata
    hachoir_parser
    p4a.common
    p4a.fileimage
    p4a.subtyper
    p4a.z2utils
    plone.app.blob
    plone.app.imaging
    plone.app.ldap
    plone.app.relations
    plone.keyring
    plone.relations
    plone.reload
    psycopgda
    python-memcached
    skimpyGimpy
    slc.linkcollection
    slc.rdbploneformgenadapter
    slc.synchronizer
    syslabcom.filter
    webcouturier.dropdownmenu
    xlrd
    z3c.unconfigure
    zopyx.smartprintng.plone
    threadframe
    gocept.arecibologger
    Products.PloneHotfix20110720

zcml = collective.solr
    archetypes.schemaextender
    archetypes.schematuning
    collective.captcha
    collective.portlet.feedmixer
    gfb.policy
    gocept.arecibologger
    p4a.common
    p4a.fileimage
    p4a.subtyper
    p4a.z2utils
    plone.app.blob
    plone.app.imaging
    plone.app.ldap
    plone.portlet.collection
    plone.reload
    slc.linkcollection
    slc.synchronizer
    syslabcom.filter
    webcouturier.dropdownmenu
    zopyx.smartprintng.plone
products =
    ${checkouts:location}
    ${buildout:directory}/products
extra-paths = ${checkouts:location}
http-address = ${settings:http-address}

zeo-client = on
shared-blob = off
zeo-address = ${settings:zeo-address}
zeo-client-name = zeostorage2
zeo-client-cache-size = 100MB
zeo-client-client = instance2
zeo-storage = 2

zope-conf-additional =
  <warnfilter>
     action ignore
     category exceptions.DeprecationWarning
  </warnfilter>
  <warnfilter>
     action ignore
     category exceptions.UserWarning
  </warnfilter>
  <environment>
    # the space after the comma is important!
    PTS_LANGUAGES bg, cs, da, de, el, en, es, et, fi, fr, hr, hu, it, lb, lt, lv, mt, nl, no, pl, pt, ro, ru, sk, sl, sv, tr, kr, is
    LOG_SLOW_QUERIES true
    LONG_QUERY_TIME 0.5
  </environment>
#  <product-config flashuploader>
#    memcache-address ${settings:memcached-address}
#  </product-config>
  <product-config gocept.arecibologger>
    account KedVintAnek3
    server https://gorecibo2.appspot.com/v/1/
  </product-config>
  <zodb_db osha>
    # OSHA database
    cache-size 40000
    # Blob-enabled ZEOStorage database
    <zeoclient>
      blob-dir ${buildout:directory}/var/blobstorage
      shared-blob-dir off
      server ${settings:zeo-address}
      storage 1
      name zeostorage1
      var /tmp/
      cache-size 3000MB
      client instance
    </zeoclient>
    mount-point /osha:/osha
    pool-size 2
  </zodb_db>

[instance-cron]
recipe = z3c.recipe.usercrontab
times = @reboot
command = ${buildout:bin-directory}/instance start |& logger -t zope

[instance-cron-expire-blobstorage]
recipe = z3c.recipe.usercrontab
times = 43 3 * * *
command = /usr/sbin/tmpwatch --mtime 30d ${buildout:directory}/var/blobstorage

[instance-patches]
recipe = collective.recipe.patch
egg = imsvdex
patches = ${buildout:directory}/patches/vdex-lxml.patch
patch-binary = patch

[instance-logrotate]
recipe = collective.recipe.template
input = profiles/base/templates/zope/logrotate.conf.template
output = ${buildout:directory}/logrotate.d/zope

[root-database]
recipe = zc.recipe.filestorage
location = ${buildout:parts-directory}/root-database

[database]
recipe = zc.recipe.filestorage
location = ${buildout:parts-directory}/database

[theme]
# absolute-prefix must be the name of the plone site...
root = ${buildout:directory}/parts/omelette/osha/tapetheme/skins/osha_tapetheme_content
theme = ${theme:root}/theme.html
rules = ${theme:root}/rules/default.xml
output-xslt = ${theme:root}/theme.xsl

[i18n-overrides]
recipe = plone.recipe.command
command =
    mkdir -p ${instance:location}/i18n
    ln -s ${buildout:directory}/src/osha.theme/osha/theme/i18n/* ${instance:location}/i18n/
    ln -s ${buildout:directory}/products/RiskAssessmentLink/i18n/plone-riskassessmentlink-de.po ${instance:location}/i18n/

[test]
recipe = collective.recipe.z2testrunner
packages = gocept.linkchecker
zope2part = instance


[nginx-template]
recipe = collective.recipe.template
input = profiles/base/templates/nginx/00upstream.conf
output = ${buildout:directory}/nginx/00upstream.conf

[deliverance-egg]
recipe = zc.recipe.egg
eggs = Deliverance

[deliverance]
recipe = zc.zdaemonrecipe
program = ${buildout:bin-directory}/deliverance-proxy ${buildout:directory}/../deliverance/hw2010/etc/deliverance-local.xml

[deliverance-cron]
recipe = z3c.recipe.usercrontab
times = @reboot
command = ${buildout:bin-directory}/deliverance start |& logger -t deliverance
